.folder {
  padding-left: 20px;
  background: no-repeat url("../../assets/folder.svg") left center;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 15px;
}

.caret-down::before {
  transform: rotate(90deg);
}

.sub-folder {
  padding-left: 15px;
}
